<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Password recovery</h3>
    <div class="col-md-12" style="margin-top: 10px;">
        <div class="alert alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
      </div>
    <div *ngIf="!emailWasSent">
      <form [formGroup]="usernameForm" (ngSubmit)="onSubmitEmail()" id="usernameForm">
        <div class="form-group">
          <label class="col-md-3 control-label" for="username">Username</label>
          <div class="col-md-6">
            <input id="username" name="username" type="text" class="form-control" formControlName="username">
            <span class="help-block" *ngIf="!usernameForm.get('username').valid && usernameForm.get('username').touched">This field is required</span>
          </div>
          <div class="col-md-2">
            <button type="submit" form="usernameForm" class="btn btn-default pull-right" [disabled]="!usernameForm.valid">Send email</button>
          </div>
        </div>
      </form>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="alert alert-warning" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div *ngIf="emailWasSent">
      <p>Please copy-paste your token here to confirm your idenity and input new password</p>
      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitPasswords()" id="passwordForm" clas="form-horizontal">
        <div class="container-fluid form-group">
          <label class="col-md-2 control-label" for="token">Token</label>
          <div class="col-md-10">
            <input id="token" name="password" type="text" class="form-control" formControlName="token">
            <span class="help-block" *ngIf="!newPasswordForm.get('token').valid && newPasswordForm.get('token').touched">This field is required</span>
          </div>
        </div>
        <div class="container-fluid form-group">
          <label class="col-md-2 control-label" for="password">New Password</label>
          <div class="col-md-10">
            <input id="password" name="password" type="password" class="form-control" formControlName="password">
            <span class="help-block" *ngIf="!newPasswordForm.get('password').valid && newPasswordForm.get('password').touched">This field is required</span>
          </div>
        </div>
        <div class="container-fluid form-group">
          <label class="col-md-2 control-label" for="matchingPassword">Confirm password</label>
          <div class="col-md-10">
            <input id="matchingPassword" name="matchingPassword" type="password" class="form-control" formControlName="matchingPassword">
            <span class="help-block" *ngIf="!newPasswordForm.get('matchingPassword').valid && newPasswordForm.get('matchingPassword').touched">This field is required</span>
          </div>
        </div>
        <button type="submit" form="passwordForm" class="btn btn-default pull-right" [disabled]="!newPasswordForm.valid">Change password</button>
      </form>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="alert alert-warning" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>