<div class="list-group-item" style="margin-bottom: 10px">
  <div class="media col-md-3">
    <figure class="pull-left">
      <img class="media-object img-rounded img-responsive" src="/assets/budowa_domu.jpg" alt="placehold.it/350x250">
    </figure>
  </div>
  <div class="col-md-6">
    <h4 class="list-group-item-heading" style="margin-top: 10px"> {{ project.projectName }} </h4>
    <p class="list-group-item-text">
      {{ project.startDate }}
    </p>
  </div>
  <div class="col-md-3 text-center">
    <button style="margin-top: 30%" type="button" class="btn btn-primary btn-lg btn-block" (click)="onShowDetails()"> Details </button>
  </div>
</div>