<div *ngIf="!project">
  <h3>Loading...</h3>
</div>

<div *ngIf="project">
  <h2 class="page-header">{{ project.projectName }}</h2>
  <div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="dashboard-widget">

        <button type="button" class="btn btn-large btn-block btn-success" (click)="onAddTaskDialog()">
          <span class="glyphicon glyphicon-plus"></span> Add task</button>
        <button type="button" class="btn btn-large btn-block btn-primary" (click)="onOpenEditDialog()">
          <span class="glyphicon glyphicon-pencil"></span> Edit project</button>
        <button type="button" class="btn btn-large btn-block btn-danger" (click)="onDeleteProject()">
          <span class="glyphicon glyphicon-remove"></span> Delete project</button>

      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="dashboard-widget">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
            {{ progress | number: '1.0-0' }}%
          </div>
        </div>
        <div class="dashboard-widget-body">
          <p>Start date: {{ project.startDate }}
            <br> Address: {{ project.address.street }} {{ project.address.houseNumber }}, {{ project.address.postCode }} {{ project.address.city
            }}
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">

        <div class="row">
          <div class="form-group">
            <label for="setClient" class="col-sm-2 control-label">Set client</label>
            <div class="col-sm-6">
              <select name="setClient" id="setClient" class="form-control" required="required" [(ngModel)]="selectedClient">
                <option *ngFor="let client of clients" [value]="client.id"> {{ client.name }} {{ client.surname }}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="onSetClient()">Set</button>
            </div>
          </div>
        </div>


        <div class="div" style="margin-left: 10px;">
          <h4>Client</h4>
        </div>
        <div class="dashboard-widget-body">
          <p>
            <strong>{{ project.clientTO.name }} {{ project.clientTO.surname }}</strong>
            <br> {{ project.clientTO.emailAddress }}
            <br> phone: {{ project.clientTO.telephoneNumbers }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>To do</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let task of tasksToDo">
            <div>
              <div>
                <a href="#">
                  <h5>#{{ task.id }}
                    <span class="label label-default">{{ task.estimatedTaskDurationHours }} hours</span>
                  </h5>
                </a>
              </div>
              <p>
                Olaf Krawczyk
                <br> {{ task.description }} </p>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs" (click)="onSetWorker(task.id)">Set worker</button>
                <button type="button" class="btn btn-warning btn-xs" (click)="deleteTask(task.id)">Delete</button>
                <button type="button" class="btn btn-primary btn-xs" (click)="setTaskInProgress(task.id)">In progress</button>
                <button type="button" class="btn btn-default btn-xs" (click)="setTaskDone(task.id)">Done</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>In progress</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let task of tasksInProgress">
            <div>
              <div>
                <a href="#">
                  <h5>#{{ task.id }}
                    <span class="label label-default">{{ task.estimatedTaskDurationHours }} hours</span>
                  </h5>
                </a>
              </div>
              <p>
                Olaf Krawczyk
                <br> {{ task.description }} </p>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs" (click)="onSetWorker(task.id)">Set worker</button>
                <button type="button" class="btn btn-warning btn-xs" (click)="deleteTask(task.id)">Delete</button>
                <button type="button" class="btn btn-default btn-xs" (click)="setTaskToDo(task.id)">To do</button>
                <button type="button" class="btn btn-success btn-xs" (click)="setTaskDone(task.id)">Done</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>Done</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let task of tasksDone">
            <div>
              <div>
                <a href="#">
                  <h5>#{{ task.id }}
                    <span class="label label-default">{{ task.estimatedTaskDurationHours }} hours</span>
                  </h5>
                </a>
              </div>
              <p>
                Jon Doe
                <br> {{ task.description }} </p>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs" (click)="onSetWorker(task.id)">Set worker</button>
                <button type="button" class="btn btn-warning btn-xs" (click)="deleteTask(task.id)">Delete</button>
                <button type="button" class="btn btn-default btn-xs" (click)="setTaskInProgress(task.id)">In progress</button>
                <button type="button" class="btn btn-default btn-xs" (click)="setTaskToDo(task.id)">To do</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>