<div *ngIf="!project">
  <h3>Loading...</h3>
</div>

<div *ngIf="project">
  <h2 class="page-header">{{ project.projectName }}</h2>
  <div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="dashboard-widget">

        <button type="button" class="btn btn-large btn-block btn-success">
          <span class="glyphicon glyphicon-plus"></span> Add task</button>
        <button type="button" class="btn btn-large btn-block btn-primary">
          <span class="glyphicon glyphicon-pencil"></span> Edit project</button>
        <button type="button" class="btn btn-large btn-block btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Delete project</button>

      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="dashboard-widget">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
            70%
          </div>
        </div>
        <div class="dashboard-widget-body">
          <p>Start date: {{ project.startDate }}
            <br> Address: {{ project.addressTO.street }} {{ project.addressTO.houseNumber }}, {{ project.addressTO.postCode }}
            {{ project.addressTO.city }}</p>
        </div>
      </div>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>Client</h4>
        </div>
        <div class="dashboard-widget-body">
          <p>
            <strong>{{ project.clientTO.name }} {{ project.clientTO.surname }}</strong>
            <br> {{ project.clientTO.emailAddress }}
            <br> phone: {{ project.clientTO.telephoneNumbers }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>To do</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">6 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Olaf Krawczyk
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-primary btn-xs">In progress</button>
                <button type="button" class="btn btn-default btn-xs">Done</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">4 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Sebastian Szachnowicz
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-primary btn-xs">In progress</button>
                <button type="button" class="btn btn-default btn-xs">Done</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">3 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Piotr Majcher
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-primary btn-xs">In progress</button>
                <button type="button" class="btn btn-default btn-xs">Done</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">69 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Jon Doe
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-primary btn-xs">In progress</button>
                <button type="button" class="btn btn-default btn-xs">Done</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>In progress</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">6 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Olaf Krawczyk
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-default btn-xs">To do</button>
                <button type="button" class="btn btn-success btn-xs">Done</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">69 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Jon Doe
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-default btn-xs">To do</button>
                <button type="button" class="btn btn-success btn-xs">Done</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="dashboard-widget">
        <div class="div" style="margin-left: 10px;">
          <h4>Done</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <div>
                <a href="#">
                  <h5>Task name
                    <span class="label label-default">69 days</span>
                  </h5>
                </a>
              </div>
              <p>
                Jon Doe
                <br> Description ... </p>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                <button type="button" class="btn btn-default btn-xs">In progress</button>
                <button type="button" class="btn btn-default btn-xs">To do</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>