<div class="row list-group-item" style="margin-bottom: 10px">
  <div class="col-md-8 col-lg-8">
        
    <h4 class="list-group-item-heading" style="margin-top: 10px"> Jan Kowalski</h4>
    <p class="list-group-item-text">
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
      796 555 364 <br>
    </p>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="pull-right">
      <div class="btn-group" ngbDropdown>
        <button type="button" class="btn btn-primary">View projects</button>
        <button class="btn btn-default" ngbDropdownToggle>Manage</button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li>
            <a routerLink="/signin" style="cursor: pointer">Edit</a>
          </li>
          <li>
            <a routerLink="/signup" style="cursor: pointer">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>