<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Robolify</a>
        </div>
        <div class="nav nav-navbar pull-right">
            <button type="button" class="btn btn-default navbar-btn pull-right">Logout</button>
            <p class="navbar-text pull-right">Signed in as
                <a href="#" class="navbar-link">J. Kaczyński</a>
            </p>
        </div>
    </div>
</nav>