<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Robolify</a>
        </div>
        <div class="nav nav-navbar pull-right">
            <button type="button" class="btn btn-default navbar-btn pull-right" style="margin-left: 5px;" (click)="onSignIn()">Sign in</button>
            <button type="button" class="btn btn-default navbar-btn pull-right" (click)="onRegister()">Register</button>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
  
      <!-- Logo -->
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Robolify</a>
  
        <!-- Hamburger button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" (click) = "isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Menu items -->
        <div class="collapse navbar-collapse" [ngbCollapse] = "isCollapsed">
          <ul class="nav navbar-nav" *ngIf="isUserLoggedIn()">
            <li><a routerLink="/projects">My Projects</a></li>
            <li><a (click)="showEditProjectDialog()">New project</a></li>
            <li><a routerLink="/workers">My Workers</a></li>
            <!-- <li><a routerLink="#">Settings</a></li> -->
            <!-- <li><a href="#">About</a></li> -->
          </ul>
          <ul *ngIf="isUserLoggedIn()" class="nav navbar-nav navbar-right">
            <li><a routerLink="/login">Logout</a></li>
          </ul>
          <ul *ngIf="!isUserLoggedIn()" class="nav navbar-nav navbar-right">
            <li><a routerLink="/login">Login</a></li>
          </ul>
        </div>
    </div>
  </nav>