<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Robolify</a>
        </div>
        <div class="nav nav-navbar pull-right">
            <button type="button" class="btn btn-default navbar-btn pull-right" style="margin-left: 5px;" (click)="onSignIn()">Sign in</button>
            <button type="button" class="btn btn-default navbar-btn pull-right" (click)="onRegister()">Register</button>
        </div>
    </div>
</nav>