<div class="row" style="min-width: 600px">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <form [formGroup]="addWorkerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <!-- Form Name -->
      <legend>Assign worker</legend>


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="worker">Worker</label>
        <div class="row">
          <div class="col-md-8">
            <select name="worker" id="worker" class="form-control" formControlName="worker">
              <option value>Mariusz Błaszczak</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-info">Add</button>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <h4>Assigned workers</h4>
        <div class="row">
          <div class="col-md-8">Antoni Macierewicz</div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">Jarosław Kaczyński</div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">Andrzej Duda</div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">Ryszard Petru</div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">X</button>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-4">
        <div class="alert alert-warning" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-success pull-right">Save</button>
      </div>
    </form>
  </div>
</div>