<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="container-fluid" style="height:100%;">
  <router-outlet></router-outlet>
</div>
<cookie-law>
  Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych.
  Dzięki nim możemy indywidualnie dostosować stronę do twoich potrzeb. Każdy może zaakceptować pliki cookies albo ma możliwość
  wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje.
</cookie-law>