<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <div class="row-fluid">
        <img src="/assets/robolify_logo.png" alt="" class="img-responsive">
      </div>

      <div class="row-fluid section-title">
        <h4>Projects</h4>
        <button type="button" class="btn btn-success">+New</button>
      </div>

      <ul class="nav nav-sidebar">
        <li class="active">
          <a href="#">Centralny Port Lotniczy
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="#">Green 2 Day</a>
        </li>
        <li>
          <a href="#">West Link</a>
        </li>
        <li>
          <a href="#">Grunwaldzki Center</a>
        </li>
      </ul>

      <div class="row-fluid section-title">
        <h4>Workers</h4>
        <button type="button" class="btn btn-success">+New</button>
      </div>
      <ul class="nav nav-sidebar">
        <li>
          <a href="">Olaf Krawczyk</a>
        </li>
        <li>
          <a href="">Piotr Majcher</a>
        </li>
        <li>
          <a href="">Sebastian Szachnowicz</a>
        </li>
        <li>
          <a href="">Jan Kowalski</a>
        </li>
        <li>
          <a href="">Jon Doe</a>
        </li>
      </ul>
    </div>
    
  </div>
</div>