<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <div class="row-fluid">
        <img src="/assets/robolify_logo.png" alt="" class="img-responsive">
      </div>
      
      <div class="row-fluid section-title">
        <h4>Projects</h4>
        <button type="button" class="btn btn-success">+New</button>
      </div>
      
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Centralny Port Lotniczy <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Green 2 Day</a></li>
        <li><a href="#">West Link</a></li>
        <li><a href="#">Grunwaldzki Center</a></li>
      </ul>

      <div class="row-fluid section-title">
          <h4>Workers</h4>
          <button type="button" class="btn btn-success">+New</button>
        </div>
      <ul class="nav nav-sidebar">
        <li><a href="">Olaf Krawczyk</a></li>
        <li><a href="">Piotr Majcher</a></li>
        <li><a href="">Sebastian Szachnowicz</a></li>
        <li><a href="">Jan Kowalski</a></li>
        <li><a href="">Jon Doe</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="page-header">Centralny Port Lotniczy</h2>
      <div class="row">
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div class="dashboard-widget">
            
            <button type="button" class="btn btn-large btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> Add task</button>
            <button type="button" class="btn btn-large btn-block btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit project</button>
            <button type="button" class="btn btn-large btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete project</button>
            
          </div>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="dashboard-widget">
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                  </div>
                </div>
                <div class="dashboard-widget-body">
                  <p>Start date: 20.10.2017<br>
                  Address: 96-500 Sochaczew, PL</p>
                </div>
          </div>
          
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="dashboard-widget">
            <div class="div" style="margin-left: 10px;">
              <h4>Client</h4>
            </div>
            <div class="dashboard-widget-body">
              <p>
                  <strong>Jan Kowalski</strong><br>
                  ul. Mickiewicza 49<br>
                  01-517 Warszawa<br>
                  phone: (22) 696 96 66
              </p>
            </div>
        </div>
      </div>
    </div>
      
    <div class="row" style="margin-top: 20px;">
      
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dashboard-widget">
            <div class="div" style="margin-left: 10px;">
                <h4>To do</h4>
            </div>
          <ul class="list-group">
              <li class="list-group-item">
                <div>
                  <div><a href="#"><h5>Task name <span class="label label-default">6 days</span></h5></a></div>
                  <p>
                    Olaf Krawczyk<br>
                    Description ... </p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-warning btn-xs">Delete</button>
                      <button type="button" class="btn btn-primary btn-xs">In progress</button>
                      <button type="button" class="btn btn-default btn-xs">Done</button>
                    </div>
                </div>
              </li>
              <li class="list-group-item">
                  <div>
                      <div><a href="#"><h5>Task name <span class="label label-default">4 days</span></h5></a></div>
                      <p>
                        Sebastian Szachnowicz<br>
                        Description ... </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-xs">Delete</button>
                          <button type="button" class="btn btn-primary btn-xs">In progress</button>
                          <button type="button" class="btn btn-default btn-xs">Done</button>
                        </div>
                    </div>
              </li>
              <li class="list-group-item">
                  <div>
                      <div><a href="#"><h5>Task name <span class="label label-default">3 days</span></h5></a></div>
                      <p>
                        Piotr Majcher<br>
                        Description ... </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-xs">Delete</button>
                          <button type="button" class="btn btn-primary btn-xs">In progress</button>
                          <button type="button" class="btn btn-default btn-xs">Done</button>
                        </div>
                    </div>
              </li>
              <li class="list-group-item">
                  <div>
                      <div><a href="#"><h5>Task name <span class="label label-default">69 days</span></h5></a></div>
                      <p>
                        Jon Doe<br>
                        Description ... </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-xs">Delete</button>
                          <button type="button" class="btn btn-primary btn-xs">In progress</button>
                          <button type="button" class="btn btn-default btn-xs">Done</button>
                        </div>
                    </div>
              </li>
            </ul>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="dashboard-widget">
              <div class="div" style="margin-left: 10px;">
                  <h4>In progress</h4>
              </div>
              <ul class="list-group">
                  <li class="list-group-item">
                    <div>
                      <div><a href="#"><h5>Task name <span class="label label-default">6 days</span></h5></a></div>
                      <p>
                        Olaf Krawczyk<br>
                        Description ... </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-xs">Delete</button>
                          <button type="button" class="btn btn-default btn-xs">To do</button>
                          <button type="button" class="btn btn-success btn-xs">Done</button>
                        </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                      <div>
                          <div><a href="#"><h5>Task name <span class="label label-default">69 days</span></h5></a></div>
                          <p>
                            Jon Doe<br>
                            Description ... </p>
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning btn-xs">Delete</button>
                              <button type="button" class="btn btn-default btn-xs">To do</button>
                              <button type="button" class="btn btn-success btn-xs">Done</button>
                            </div>
                        </div>
                  </li>
                </ul>
          </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="dashboard-widget">
                <div class="div" style="margin-left: 10px;">
                    <h4 >Done</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <div><a href="#"><h5>Task name <span class="label label-default">69 days</span></h5></a></div>
                            <p>
                              Jon Doe<br>
                              Description ... </p>
                              <div class="btn-group">
                                <button type="button" class="btn btn-warning btn-xs">Delete</button>
                                <button type="button" class="btn btn-default btn-xs">In progress</button>
                                <button type="button" class="btn btn-default btn-xs">To do</button>
                              </div>
                          </div>
                    </li>
                  </ul>
            </div>
      </div>
      
    </div>
    </div>
  </div>
</div>